body {
    background-color: black;
}

.castor {
  float: right;
  max-width: 600px;
  max-height: 700px;
  min-width: 200px;
  min-height: 300px;
  width: 50%;
  height: auto;
  border: 0;
}

.bon-anniv {
  width: 100%;
  height: auto;
  border:1px solid #021a40;
}

.open-card {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  width: 80%;
  height: auto;
}

.speech-bubble {
  position: relative;
  top: 0;
  left: 0;
}

.link-to-card {
  position: absolute;
  font-size: 60px;
  top: 200px;
  left: 100px;
}
