<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bon anniversaire</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>


    {% block content %}

  <body>
    <div class="link-to-card">
      <a href="{{ url_for('trente') }}"><br>Open </br><br>the </br><br>card!</br></a>
    </div>

    <div class="castor">
    <iframe src="https://giphy.com/embed/ROcSJHrOhhBkc" width="800" height="900" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    </div>
  </body>
    {% endblock %}


</html>





