<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bon anniversaire</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>


    {% block content %}

  <body>

    <div class="open-card">
      <div class="speech-bubble"></div>
        <img src="{{url_for('static', filename='speech-bubble.jpg')}}"/>
      </div>
      <div class="link-to-card">
        <a href="{{ url_for('trente') }}">Open the card!</a>
      </div>
    </div>

    <div>
    <iframe src="https://giphy.com/embed/ROcSJHrOhhBkc" class="castor"></iframe>
    </div>

  </body>
    {% endblock %}


</html>





